DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# reCAPTCHA Enterprise
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcO4IUsAAAAAIYWfZLT1Yzd8NPM0mvNPDTdXr_E
RECAPTCHA_SECRET_KEY=YOUR_RECAPTCHA_SECRET_KEY_HERE
